<footer class="p-3 bg-dark text-light text-center text-lg-start">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>About Natrec</h4>
        <p>Natrec is an AI tool offering text generation, language translation, creative content writing, and accurate question answering. It saves time, enhances communication, and boosts creativity</p>
      </div>
      <div class="col-md-3">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('price') }}">Prices</a></li>
          <li><a href="{{ url_for('blog') }}">Blog</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Contact Us</h4>
        <p><i class="bi bi-geo-alt-fill"></i> 123 AV Street, New York, USA</p>
        <p><i class="bi bi-envelope-fill"></i> info@natrec.co</p>
        <p><i class="bi bi-telephone-fill"></i> 123-456-7890</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2022 Natrec. All rights reserved. | <a href="/terms">Terms of Service</a> | <a href="/privacy">Privacy Notice</a></p>
      </div>
    </div>
  </div>
</footer>