{% extends 'base.html' %}
{% block content %}
<section class="container py-5">
  <h2 class="text-center mb-4">Get Started</h2>
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title">1. Sign Up</h3>
          <p class="card-text">Create an account on our platform to get started. Provide your basic information and set up your account credentials.</p>
          <a href="/signup" class="btn btn-primary">Sign Up</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title">2. Explore Features</h3>
          <p class="card-text">Take some time to explore the various features and capabilities of our platform. Familiarize yourself with the tools and functionalities available.</p>
          <a href="/features" class="btn btn-primary">Explore Features</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title">3. Tutorials and Documentation</h3>
          <p class="card-text">Refer to our tutorials and documentation to learn more about how to use specific features and get the most out of our platform.</p>
          <a href="/tutorials" class="btn btn-primary">Tutorials and Documentation</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title">4. Support and Assistance</h3>
          <p class="card-text">If you have any questions or need assistance, our support team is available to help.</p>
          <a href="/contact" class="btn btn-primary">Contact Support</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}